$max-width: 100%;
$btn-padding: .3rem;
$ad-btn-padding: .5rem;

$primary-text-dark: #050505;
$primary-text-grey: #3C4043;
$white: #FFFFFF;
$primary-white-background: #EEEEEE;
$black: #000000;
$logo-purple: #A657C9;
$logo-purple-hover: #8746a4;
$border-color: #E5E5E5;
$btn-red : #AE291C;
$btn-red-hover : #8b1f16;

$primary-font-size: 16px;

// input[type="checbox"] size
$input-check-size: 25px;